{% extends "base.html" %}

{% block titulo %}contato{% endblock %}

{% block content %}
<h1>Bem vindo ao Site</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus et sint beatae odit doloremque adipisci possimus nobis vitae, qui facilis accusantium praesentium a eum excepturi autem incidunt sequi blanditiis!</p>
<form>
    <label for="nome">Nome</label><br>
    <input type="text" id="nome" name="nome" value="Alison"><br>
    <input type="text" id="nome" name="nome" value="Sarah"><br><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}
